In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
def kilometers_to_miles(kilometers):
    miles = kilometers * 0.621371
    return miles

In [3]:
kilometers = 10
miles = kilometers_to_miles(kilometers)
print(f"{kilometers} kilometers is equal to {miles} miles.")

10 kilometers is equal to 6.21371 miles.

In [4]:
def print_numbers_skip_multiples_of_3(start, end):
    for num in range(start, end + 1):
        if num % 3 == 0:
            continue
        print(num)


print_numbers_skip_multiples_of_3(1, 20)

1
2
4
5
7
8
10
11
13
14
16
17
19
20